* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-color: #32563d !important;
}


.jumbotron {
    position: absolute;
    width: 50%;
    top: 0px;
    left: 23%;
    height: 2016px !important;
    background-color: transparent !important;
    /*        background-color: darkslateblue!important;*/
    z-index: 100;
}

#logo {
    position: relative;
    width: 100px;
    height: 100px;
    left: -46px;
    /* border: 2px solid red; */
    top: -43px;
    z-index: 100;
}

#banner {
    position: absolute;
    /*    border: 2px solid red;*/
    top: 410px;
    left: 500px;
    z-index: 100;
}

#button-box {
    position: absolute;
    /* display: block; */
    width: 485px;
    height: 81px;
    /*    border: 2px solid red;*/
    top: 590px;
    left: 25%;
    z-index: 100;
}

.button-one {
    position: absolute;
    width: 200px;
    color: whitesmoke;
    background-color: #0c528a;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.button-two {
    position: absolute;
    width: 200px;
    color: whitesmoke;
    background-color: #673AB7;
    padding: 10px;
    left: 274px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.button-one:hover,
.button-two:hover {
    border: 2px solid darkgreen;
    box-shadow: 0 0 5px 2px darkgreen;
}

#navigation {
    position: relative;
    left: 230px;
    width: 490px;
    height: 50px;
    /* border: 2px solid green; */
    bottom: 108px;
}

li {
    position: relative;
    color: #9E9E9E;
    font-family: fantasy;
    font-size: 2em;
    padding: 30px;
    text-align: center;
}

ol,
li {
    display: inline;
}

h3 {
    text-align: center;
    color: #368cb7 !important;
}

img {
    position: relative;
    border-radius: 10px;
    top: 20px;
}

#bottom {
    position: relative;
    bottom: 15px;
    border: 1px solid #665496;
}

#below-bottom {
    position: relative;
    bottom: 100px;
    border: 1px solid #665496;
    left: 0px;
    width: 100%;
}

#article-section {
    position: relative;
/*    border: 2px solid red;*/
    width: 100%;
    height: 186px;
    bottom: 7px;
}

#location {
    position: relative;
    border: 2px solid transparent;
    /* border-bottom-color: rgb(102, 84, 150); */
    width: 100%;
    float: left;
    height: 133px;
    bottom: 54px !important;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}

#location p {
    color: whitesmoke;
    font-size: 12px;
}

section {
    position: absolute;
    /* display: flex; */
    width: 90%;
    height: 1870px;
    /* border: 2px solid yellow; */
    top: 65%;
    left: 5%;
}

.row {
    position: relative;
    /*    border: 2px solid red;*/
    width: 90%;
    min-height: auto;
    margin: 10px;
    left: 10%;
}

.thumbnail {
    height: 439px;
    background-color: transparent!important;
    /*    border: 2px solid transparent;*/
}

.thumbnail p {
    color: whitesmoke;
}

.caption p {
    font-size: 16px;
}

#googleMap {
    position: relative;
    width: 100%;
    height: 247px;
    bottom: 90px;
    padding-bottom: 2px;
}

#up-arrow {
    position: relative;
    top: -28px;
    left: 810px;
    z-index: 100;
}

footer {
    position: fixed;
    width: 100%;
    min-height: 33px;
    bottom: 0;
    /*     border: 2px solid red; */
    left: 0;
    text-align: center;
    background-color: #32563d;
    z-index: 100;
}

copyright {
    position: relative;
    top: 7px !important;
    left: 0;
    color: whitesmoke !important;
}